/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
  }
  
  .bgimg {
    background: #F7E246;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 50px;
  }
  
   .topcentre {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
    font-size: 20px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  h1 {
    text-align: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 5vw;
  }
